.sidebar {
    width: 200px;
    height: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.sidebar button.active {
    background-color: #ddd;
}

.sidebar button:hover {
    background-color: #ddd;
}

.sidebar button.createButton {
    background-color: rgb(131, 139, 255, 1);
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.sidebar button.createButton:hover {
    background-color: rgb(131, 139, 255, 0.7);
}

.profilePicture {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 10px;
}
