.rankContainer {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
}

.gold {
    border-color: gold;
    color: gold;
}

.silver {
    border-color: silver;
    color: silver;
}

.bronze {
    border-color: #cd7f32;
    color: #cd7f32;
}

.place {
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}

.username {
    font-weight: bold;
}

.points {
    color: gray;
}
