.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 30%;
    height: 300px;
    color: black;
}

.modalContent button.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    color: gray;
    transition: background-color 0.3s ease;
}

.textarea {
    box-sizing: border-box;
    width: 80%;
    height: 40%;
    background-color: #fff;
    color: black;
}

.score {
    border-radius: 15px;
    background-color: #fff;
    color: black;
}

.modalContent button.createButton {
    border: none;
    background-color: rgb(131, 139, 255, 1);
    border-radius: 7px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    color: #333;
    cursor: pointer;
    font-weight: 700;
}

.modalContent button.createButton:hover {
    background-color: rgb(131, 139, 255, 0.7);
}
